$primary-color: #72B819;
$primary-accent-color: #72B819;
$secondary-color: #2979FF;
$secondary-accent-color: #E0ECFF;
$hint-color: #989898;
$hint-accent-color: #E8EAEE;
$hint-border-color: #F5F7FB;
$danger-color: #FF4269;
$danger-accent-color: rgba(255, 66, 105, .3);
$warning-color: #FF8A00;
$primary-text-color: #282828;
$link-primary-color: #7B7D81;

.is-warning {
  color: $warning-color;
}

.is-danger {
  color: $danger-color;
}

.is-primary {
  color: $primary-color;
}

.is-secondary {
  color: $secondary-color;
}

.bg-primary {
  background: $primary-color !important;
  border-color: $primary-color !important;
}

.bg-secondary {
  background: $secondary-accent-color !important;
}

.bd-secondary {
  border-color: $secondary-accent-color !important;
}

.bd-hint {
  border-color: $hint-color !important;
}

.bg-hint {
  background: $hint-color !important;
}

.bd-hint-accent {
  border-color: $hint-accent-color !important;
}
