h1 {
  font-size: 48px;
  font-weight: bold;
  color: $primary-text-color;
}

h2 {
  font-size: 36px;
  font-weight: bold;
  color: $primary-text-color;
}

h3 {
  font-size: 24px;
  font-weight: bold;
  color: $primary-text-color;
}

h4 {
  font-size: 18px;
  font-weight: bold;
  color: $primary-text-color;
}

.is-underlined {
  text-decoration: underline;
}

.text-sm {
  font-size: 12px;
}

.text-md {
  font-size: 16px;
}

.text-lg {
  font-size: 18px;
}
