@import '~@realsoft/platon-core/dist/platon.css';

@import '~platon-ui/scss/platon-ui.scss';

@import './_colors';
@import './_helpers';
@import './_toolbar';
@import './_typography';
@import './_spacings';

html, body {
  color: $primary-text-color;
  background: white;
}

.container-small {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.fader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(40, 40, 40, 0.8);
}

a {
  transition: all .3s ease-in-out;
  color: $link-primary-color;

  a:hover {
    color: $primary-color;
  }
}

.pui-icon {
  transition: color .2s ease-in-out;
}

.link-underlined {
  text-decoration: underline;
}

.pui-button.is-success {
  @extend .bg-primary;
}

.order-list-sorting.pui-dropdown-wrapper {
  width: auto;
}